<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="mb-3">
        <label style="margin-right:10px">I am a:</label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" value="male" formControlName="gender">Male
        </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input ms-3" value="female" formControlName="gender">Female
        </label>
    </div>

    <div class="mb-3">
        <input
        type="text"
        [class.is-invalid]="registerForm.get('username')?.errors && registerForm.get('username')?.touched"
        class="form-control"
        formControlName="username"
        placeholder="Username"
        >
        <div class="invalid-feedback">Please enter a username</div>
    </div>
    <div class="mb-3">
        <input
        type="text"
        [class.is-invalid]="registerForm.get('knownAs')?.errors && registerForm.get('knownAs')?.touched"
        class="form-control"
        formControlName="knownAs"
        placeholder="Known As"
        >
        <div class="invalid-feedback">Please enter a known as</div>
    </div>
    <div class="mb-3">
        <input
        type="text"
        [class.is-invalid]="registerForm.get('dateOfBirth')?.errors && registerForm.get('dateOfBirth')?.touched"
        class="form-control"
        formControlName="dateOfBirth"
        placeholder="Data Of Birth"
        bsDatepicker
        [bsConfig]="bsConfig"
        [maxDate]="maxDate"
        >
        <div class="invalid-feedback" *ngIf="registerForm.get('dateOfBirth')?.hasError('required')">Please enter a date of birth</div>
    </div>
    <div class="mb-3">
        <input
        type="text"
        [class.is-invalid]="registerForm.get('city')?.errors && registerForm.get('city')?.touched"
        class="form-control"
        formControlName="city"
        placeholder="City"
        >
        <div class="invalid-feedback">Please enter a city</div>
    </div>
    <div class="mb-3">
        <input
        type="text"
        [class.is-invalid]="registerForm.get('country')?.errors && registerForm.get('country')?.touched"
        class="form-control"
        formControlName="country"
        placeholder="Country"
        >
        <div class="invalid-feedback">Please enter a country</div>
    </div>
    <div class="mb-3">
        <input
        type="password"
        [class.is-invalid]="registerForm.get('password')?.errors && registerForm.get('password')?.touched"
        class="form-control"
        formControlName="password"
        placeholder="Password"
        >
        <div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('required')">Please enter a password</div>
        <div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('minlength')">Password must be at least 4 characters</div>
        <div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('maxlength')">Password must be at most 8 characters</div>
    </div>
    <div class="mb-3">
        <input
        type="password"
        [class.is-invalid]="registerForm.get('confirmPassword')?.errors && registerForm.get('confirmPassword')?.touched"
        class="form-control"
        formControlName="confirmPassword"
        placeholder="Confirm Password"
        >
        <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword')?.hasError('required')">Please enter a confirmation password</div>
        <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword')?.hasError('notMatching')">Confirm password must match password</div>

    </div>

    <div class="row" *ngIf="validationErrors">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="class text-center">
        <button [disabled]="!registerForm.valid" class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>
